<!-- app/views/tasks/index.html.erb -->
<h1 class="text-center mb-4">Tasks for <%= @project.title %></h1>

<div class="container bg-white p-4 rounded shadow">
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Task ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @project.tasks.each do |task| %>
        <tr>
          <td><%= task.id %></td>
          <td><%= task.title %></td>
          <td><%= task.description %></td>
          <td><%= task.status.humanize %></td>
          <td>
            <!-- Delete form -->

            <% if can? :destroy, Task %>

            <%= form_with model: [@project, task], method: :delete, local: true do |form| %>
              <%= form.submit 'Delete', class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this task?' } %>
            <% end %>

            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
