<h1 class="text-center mb-4">Tasks for <%= @project.title %></h1>

<div class="container bg-white p-4 rounded shadow">
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Task ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @project.tasks.each do |task| %>
        <tr class="table-secondary">
          <td><%= task.id %></td>
          <td><%= task.title %></td>
          <td><%= task.description %></td>
          <td><%= task.status.humanize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

