<!-- app/views/projects/audit_log.html.erb -->
<h1>Audit Log</h1>
<% if @versions.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Version</th>
        <th>Event</th>
        <th>Changed At</th>
        <th>Changed By</th>
        <th>Revert</th>
      </tr>
    </thead>
    <tbody>
      <% @versions.each do |version| %>
        <tr>
          <td><%= version.index %></td>
          <td><%= version.event %></td>
          <td><%= version.created_at %></td>
          <td><%= version.whodunnit %></td>
          <td>
            <%= link_to 'Revert', revert_project_path(id: version.item_id, version_id: version.id), method: :patch, class: 'btn btn-warning' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No audit log entries found.</p>
<% end %>
