<!DOCTYPE html>
<html>
<head>
  <title>Projects</title>
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <style>
    body {
      background-color: white;
    }
    .navbar-custom {
      background-color: grey;
    }
    .form-container {
      max-width: 500px;
      margin: 50px auto;
      padding: 20px;
      background-color: grey;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    .project-list {
      margin-top: 20px;
    }
    .project-list li {
      padding: 10px;
      margin-bottom: 10px;
      background-color: #f8f9fa;
      border: 1px solid #dee2e6;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }
    .project-list li:hover {
      background-color: #e9ecef;
    }
  </style>
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-custom">
    <a class="navbar-brand" href="#">My Projects</a>
    <div class="ml-auto">
      <%= link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete}, class: 'btn btn-light' %>
    </div>
  </nav>

  <!-- Form Container -->
  <div class="form-container">
    <h1 class="text-center">Create a New Project</h1>
    <%= form_with(model: @project) do |f| %>

      <div class="form-group">
        <%= f.label :title, 'Project Title' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      

      <div class="form-group">
        <%= f.label :files, 'Upload Files' %>
        <%= f.file_field :files,multiple: true, class: 'form-control' %>
      </div>

      <div class="text-center">
        <%= f.submit 'Create New Project', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

  <!-- Project List -->
  <ul class="project-list list-unstyled">
    <% @projects.each do |project| %>
      <li>

        <%= link_to project.id, project_path(project), class: 'text-dark' %>.
        <%= link_to project.title, project_path(project), class: 'text-dark' %>



        <% if project.files.attached? %>
          <% project.files.each do |file| %>
        
            <p> **<%= link_to "Attached File", rails_blob_path(file, disposition: "inline"), target: "_blank", class: "file-link" %>**</p>
      
          <% end %>
        
        <% else %>
            <p>**No files uploaded**</p>
        <% end %>
      </li>
   <% end %>
</ul> 

</body>
</html>

