<h1>Tasks for <%= @project.title %></h1>

<%= form_with(model: [@project, @project.tasks.build], local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Task Title' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description, 'Task Description' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :status, 'Task Status' %>
    <%= f.select :status, Task.statuses.keys.map { |status| [status.humanize, status] }, {}, class: 'form-control' %>
  </div>

  <%= f.submit 'Add Task', class: 'btn btn-primary' %>
  <%= link_to 'List',project_tasks_path(@project), class: 'btn btn-primary'%>
<% end %>

<h2>Existing Tasks</h2>

<ul>
  <% @project.tasks.each do |task| %>
    <li>
      <strong>Title:</strong> <%= task.title %> <br>
      <strong>Description:</strong> <%= task.description %> <br>
      <strong>Status:</strong> <%= task.status %>
      <%# <%= link_to 'Edit', edit_project_task_path(@project, task), class: 'btn btn-secondary btn-sm' %>
    </li>
  <% end %>
</ul>

