



<%# <h2>Verify Your OTP</h2> %>

<%# <%= form_with url: verify_otp_path, local: true do %> %>
  <%# <%= hidden_field_tag :email, params[:email] %> %>
  <%# <div class="field"> %>
    <%# <%= label_tag :otp_code, 'Enter OTP Code' %> %>
    <%# <%= text_field_tag :otp_code %> %>
  <%# </div> %>
  <%# <div class="actions"> %>
    <%# <%= submit_tag 'Verify OTP' %> %>
  <%# </div> %>
<%# <% end %> %>


<h1>OTP Verification</h1>
<%= form_with url: verify_otp_path, method: :post do %>
  <%= hidden_field_tag :email, @user.email %>
  <div class="field">
    <%= label_tag :otp_code, "Enter OTP Code" %>
    <%= text_field_tag :otp_code %>
  </div>
  <div class="actions">
    <%= submit_tag "Verify OTP" %>
  </div>
<% end %>

<%= link_to 'Resend OTP', resend_otp_path(email: @user.email), method: :post %>